.navbar {
    
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    max-height: var(--navbar-height);
    transition: all 200ms;
    
    &__content {
        color: var(--titles-color);
        display: flex;
        justify-content: space-between;
        align-items: center;

        & span {
            font-size: 3rem;
            flex: 1;
        }

        &__icons {
            display: flex;
            gap: 1rem;
        }

        @media screen and (min-width: 768px) {
            &__icons {
                gap: 0;
            }
        }

        // Menu icon
        &__icon {
            color: var(--menu-button-font-color);
            font-size: 2.9rem;
            background-color: var(--container-background);
            width: 3.5rem;
            height: 3.5rem;
            border-radius: .5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
            cursor: pointer;
        }


        // Lista de links para pantallas grandes
        &__links-list {
            list-style: none;
            display: none;
            align-items: center;
            gap: 1rem;
            font-size: 2rem;
            margin: 0 1rem;


            & li {  
                // border-radius: 2rem;
                font-weight: 600;
                padding: .5rem 1.5rem;
                
                // background-color: #0094ff;
                color: rgb(161, 161, 161);
                cursor: pointer;
            } 
        }
    }
}

.navbar.scrolled {
    background-color: var(--container-background);
    box-shadow: 5px 0px 8px rgba(0,0,0,0.8);
}

.theme-toggle {
    background-color: var(--theme-button-background);
    font-size: 2.5rem;
    color: var(--theme-button-color);
}

.menu-button {
    border: 1px solid var(--menu-button-border-color);
}

// Ocultamos el icono de menu en pantallas grandes.
@media screen and (min-width: 768px) {
    .menu-button {
        display: none;
    }

    .navbar__content__links-list {
        display: flex;
    }
}

.toggled {
    animation: pop-up 200ms forwards;
}

@keyframes pop-up {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


