.skills {
    margin-top: 3rem;

    & h1 {
        text-align: center;
        font-size: 2.3rem;
        margin: 1rem 0;
    }

    &__card-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &__card {
            background-color: var(--container-background);
            height: auto;
            border-radius: 1rem;
            width: 30rem;
            margin: 0 auto;
            padding: 1rem;

            &__image-field {
                background-color: #5117ff;
                margin: 1rem auto;
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                & .skill__icon {
                    font-size: 5rem;
                    color: #fff;
                }
            }
        }

        & h2 {
            font-size: 1.8rem;
            text-align: center;
            margin: 1rem 0;
        }

        & p {
            font-size: 1.5rem;
            text-align: justify;
        }
    }

    @media screen and (min-width: 768px) {
        &__card-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            &__card {
                width: unset;
            }
        }
    }
}