.skills {
    margin-top: 3rem;

    & h1 {
        text-align: center;
        font-size: 2.3rem;
        margin: 1rem 0;
    }

    &__card-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__card {
            background-color: var(--container-background);
            height: auto;
            border-radius: 1rem;
            width: 25rem;
            margin: 0 auto;

            &__image-field {
                background-color: #5117ff;
                margin: 1rem auto;
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                & .skill__icon {
                    font-size: 5rem;
                    color: #fff;
                }
            }
        }
    }
}